<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>WAVY | FEED</title>
  </head>
  
  <body class="bg-zinc-900 text-white min-h-screen flex items-center justify-center">
    
    <div class="w-1/2"></div>
    <div class="w-full p-6 max-w-screen-xl">
      <h3 class="text-5xl px-5 py-5">Welcome back, <%=user.name%>😎</h3>

      <h5 class="text-3xl px-5 py-5">Create a post</h5>
      <form method="post" action="/post" enctype="multipart/form-data">
        <textarea
          name="content"
          placeholder="Get started"
          class="mx-5 w-1/2 p-1 resize-none bg-transparent border-2 border-zinc-800 block"
        ></textarea>
        <input class="m-5 rounded-md text-zinc-400" type="file" name="image">

        <input
          type="submit"
          value="Create"
          class="bg-blue-500 block mx-5 my-4 w-25 h-10 border-zinc-800 rounded-md"
        />
      </form>
      <div class="posts">
        <h3 class="text-3xl mx-5 my-5 text-zinc-400">Feed</h3>
        <div class="postcontainer">
          <% user.posts.reverse().forEach(function(post){ %>
          <div class="w-21/40 bg-transparent border-2 border-zinc-800 mt-5 mx-5 p-4 bg-zinc-800 w-1">
              <h3 class="text-blue-500 text-xl mt-5 block">@<%=post.name%></h3>
            <div class="mt-5 rounded-md">
              <img src="<%= post.image %>">
              <h3 class="mt-5"><%=post.content%></h3>
            </div>
            <div class="flex">
              <div class="text-blue-500 text-xs mt-5 block">
                <a href="/like/<%= post._id %>">Like</a>
                <a class="mx-5 text-red-500" href="/delete/<%= post._id %>">delete</a>
              </div>
            </div>
          </div>
          <% })%>
        </div>
      </div>
      <form method="get" action="/logout">
        <input type="submit"
          value="logout"
          class="bg-red-500 block mx-5 my-4 w-25 h-10 border-zinc-800 rounded-md">
      </form>

    </div>
  </body>
</html>
